.time-display-container {
    display: flex;

    img {
        margin-top: 3px;
        width: 40px;
        height: 40px;
    }

    .time-display-text {
        position: relative;
        padding: 13px 5px 13px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .time-display-container {
        img {
            margin-top: 5px;
            width: 35px;
            height: 35px;
        }

        .time-display-text {
            padding: 14px 5px 12px 10px;
            font-size: 14px;
        }
    }
}
