.container {
  height: 80px;
  width: 100%;
  background-color: black;
  color: white;
  position: relative;
  display: inline-block;

  .menu-button {
    float: left;
    text-align: start;
    margin-left: 10px;
    margin-top: 0.8%;
  }

  .profile-container {
    display: inline-block;
    text-align: center;
    float: right;
    margin-top: 0.4%;
    margin-right: 1%;

      button {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          font-size: 22px;
          text-align: center;
      }
  }
}


