<div class="container">
    <div>
        <button pButton type="button" label="Recipes" class="menu-button" (click)="goToRecipes()"></button>
        <div class="menu-button" *ngIf="userLogged == true && user.hasRestaurant == true">
            <button pButton type="button" label="Restaurant"></button>
        </div>
        <div class="menu-button" *ngIf="userLogged == true">
            <button pButton type="button" label="Create recipe" (click)="showCreateRecipeDialog()"></button>
        </div>
    </div>
    <div class="right-container">
        <div *ngIf="userLogged == true">
            <button pButton type="button" class="p-button-raised" label="{{ user.username.at(0) | uppercase }}"
                    (click)="op.toggle($event)"></button>
        </div>
    </div>
</div>
<hr/>
<p-overlayPanel #op [showCloseIcon]="false" [style]="{ width: 'auto' }">
    <ng-template pTemplate>
        <p-button label="Logout" (onClick)="logout()"></p-button>
    </ng-template>
</p-overlayPanel>


<div class="createRecipeDialog" *ngIf="userLogged == true">
    <p-dialog [(visible)]="createRecipeDialog"
              [style]="{width: '60vw'}" [showHeader]="false"
              [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true"
              [closable]="true">
        <app-create-recipe [username]="user.username"></app-create-recipe>
    </p-dialog>
</div>
