.container {
  height: 80px;
  width: 100%;
  color: white;
  position: relative;
  display: block;

  .menu-button {
    float: left;
    text-align: start;
    margin-left: 10px;
    margin-top: 1.1%;
  }

  .right-container {
    display: inline-block;
    text-align: center;
    float: right;
    margin-top: 0.4%;
    margin-right: 1%;

      button {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          font-size: 22px;
          text-align: center;
      }
  }
}

hr {
    padding-bottom: 5px;
    border: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #ffbc68;
}
