//.container {
//  height: 80px;
//  width: 100%;
//  color: white;
//  position: relative;
//  display: block;
//
//  .menu-button {
//    float: left;
//    text-align: start;
//    margin-left: 10px;
//    margin-top: 1.1%;
//  }
//
//  .right-container {
//    display: inline-block;
//    text-align: center;
//    float: right;
//    margin-top: 0.4%;
//    margin-right: 1%;
//
//      button {
//          border-radius: 50%;
//          width: 60px;
//          height: 60px;
//          font-size: 22px;
//          text-align: center;
//      }
//  }
//}

@import url(https://fonts.googleapis.com/css?family=Urbanist);

h2 {
    vertical-align: center;
    text-align: center;
}

html, body {
    margin: 0;
    height: 100%;
}

* {
    font-family: "Urbanist";
    box-sizing: border-box;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #00BAF0 linear-gradient(to left, #402e32, rgb(223, 224, 223));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

hr {
    margin-top: 5px;
    padding-bottom: 5px;
    border: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #ffbc68;
}

.menu-element {
    cursor: pointer;
    border: 1px solid rgba(244, 142, 69, 0);
    padding: 10px;
    font-size: 17px;
}

.menu-element:hover {
    border: 1px solid #dfe0df;
    border-radius: 5px;
}

.qr-container {
    z-index: 20;
    position: relative;
    padding-top: 100px;
    filter: drop-shadow(3px 3px 3px #222222);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .menu-element:hover {
        border: 1px solid rgba(244, 142, 69, 0);
        border-radius: 0;
    }
}
