<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="top-nav">
    <div class="qr-container" *ngIf="!isMobile">
        <ngx-qrcode-styling #qrcode [config]="config" [data]="currentURL"></ngx-qrcode-styling>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li class="menu-element" (click)="goToRecipes()">Recipes</li>
        <li class="menu-element" *ngIf="userLogged == true && user.hasRestaurant == true" (click)="goToRestaurant()">Restaurant</li>
        <li class="menu-element" *ngIf="isMobile" (click)="goToFavouriteRecipes()">Saved</li>
        <li class="menu-element" *ngIf="userLogged == true" (click)="showCreateRecipeDialog()">Create recipe</li>
        <li class="menu-element" *ngIf="userLogged == true" (click)="goToProfile()">Profile</li>
        <li class="menu-element" *ngIf="userLogged == true && user.accountType == 'ADMIN'" (click)="goToAdmin()">Admin</li>
        <li class="menu-element" *ngIf="userLogged == true" (click)="logout()">Logout</li>
        <li class="menu-element" *ngIf="userLogged == false" (click)="login()">Login</li>
    </ul>
</section>

<hr/>

<div class="createRecipeDialog" *ngIf="userLogged == true">
    <p-dialog [(visible)]="createRecipeDialog"
              [style]="{width: '60vw'}" [showHeader]="false"
              [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true"
              [closable]="true">
        <app-create-recipe [username]="user.username"></app-create-recipe>
    </p-dialog>
</div>
