.profile-restaurant-container {
    .profile-restaurant-container-base {
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;

        .left-panel-image {
            img {
                height: 300px;
                width: 600px;
                object-fit: cover;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
            }
        }

        .right-panel-image {
            padding: 10px 50px 10px;
            text-align: center;
            position: relative;
            width: 100%;

            .profile-restaurant-address {
                padding: 10px 0 20px;
                width: 60%;
                margin: auto;
            }

            .profile-restaurant-details {
                width: 100%;
                height: 80px;
                max-font-size: 15px;
                font-size: 0.8vw;
                text-align: justify;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }

            .profile-restaurant-title {
                text-align: center;
                margin-bottom: 5px;
                font-size: 18px;
            }

            .profile-restaurant-rating {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .right-panel-button-container {
                position: relative;
                bottom: -30px;
                left: 50%;
                transform: translate(-50%, 0);

                ::ng-deep .p-dropdown:hover {
                    border-color: #402E32;
                }
            }
        }
    }
}

::ng-deep .p-button:enabled:hover {
    background: #402E32;
    border-color: #402E32;
}

::ng-deep .p-button {
    background: #402E32;
    border-color: #402E32;
}

::ng-deep .p-inputtext:hover{
    border-color: #402E32;
}


@media only screen and (max-width: 1400px) {
    .profile-restaurant-container {
        height: auto;

        .profile-restaurant-container-base {
            padding: 0;
            display: block;

            .left-panel-image {
                height: auto;
                width: 95%;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 0;
                }
            }

            .right-panel-image {
                height: auto;
                padding: 10px 2px;

                .profile-restaurant-details {
                    height: auto;
                    font-size: 15px;
                    -webkit-line-clamp: 16;
                }

                .profile-restaurant-address {
                    width: 90%;
                }

                .right-panel-button-container {
                    bottom: -20px;
                    padding-top: 10px;
                }
            }
        }
    }
}

