.recipes-container {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;

    ::ng-deep .p-card {
        border-radius: 10px 10px 20px 20px;
        margin-bottom: 20px;

        .p-card-body {
            padding-top: 20px;
            padding-left: 1px;
            padding-right: 1px;
        }

        .p-card-content {
            padding: 1px;
        }
    }
}

.recipe-card {
    margin-top: 40px;
    margin-right: 5px;

    .p-card {
        position: relative;
    }

    .p-card .p-card-content {
        padding: 0;
    }

    ::ng-deep .p-card .p-card-body {
        padding: 4px;
    }

    .recipe-view-container {
        display: flex;
        justify-content: space-evenly;
    }

    .recipe-card-image-container {
        position: relative;

        .recipe-card-hover-name-box {
            opacity: 0;
            transition: opacity .15s ease-in-out .15s;
            background: rgba(34, 34, 34, 0.5);
            width: 100%;
            height: 140px;
            top: 0;
            position: absolute;
            cursor: pointer;
            border-radius: 10px 10px 0 0;
            color: white;

            .recipe-card-hover-name {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                inline-size: 100%;
                overflow-wrap: break-word;
                text-align: center;
                height: 100%;
            }
        }
    }

    .recipe-card-image-container:hover {
        .recipe-card-hover-name-box {
            transition: opacity .15s ease-in-out .15s;
            opacity: 1;
        }
    }

    .recipe-buttons-container {
        display: flex;
        height: 40px;

        .recipe-edit-button {
            width: 100px;
            height: 40px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 5px;
            font-size: 20px;
            background: #AE8A68;
            color: white;
        }

        .recipe-edit-button:hover {
            background: #c7a381;
            transition: background-color .15s ease-in-out .15s;
        }

        .recipe-delete-button {
            width: 60px;
            height: 40px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 5px;
            font-size: 20px;
            background: #C35354;
            color: white;

            img {
                width: 30px;
                height: 30px;
            }
        }

        .recipe-delete-button:hover {
            background: #d57173;
            transition: background-color .15s ease-in-out .15s;
        }
    }

    .recipe-edit-button:hover {
        background: #9e754e;
    }

    .recipe-mobile-name {
        display: none;
    }
}

.image-card-header {
    object-fit: cover;
    z-index: 0;
    border-radius: 10px 10px 0 0;
}

.recipe-status {
    position: absolute;
    margin-top: 5px;
    top: 10px;
    left: 10px;

    img {
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .recipe-card .recipe-buttons-container .recipe-edit-button {
        display: none;
    }

    .recipe-card .recipe-buttons-container .recipe-delete-button {
        display: none;
    }

    .recipe-card {


        .recipe-mobile-name {
            display: block;
            text-align: center;
            overflow-wrap: break-word;
            inline-size: 100%;
            margin: auto;
        }
    }
}
