.profile-recipes-container{
    padding-top: 20px;
    padding-bottom: 20px;

    .profile-recipe-box {
        height: 200px;
        width: 100%;
        display: flex;

        .profile-recipe-details {

            .profile-recipe-name {
                margin-top: 10px;
                width: 60vw;
                text-align: center;
            }

            .recipe-rates {
                margin-top: 20px;
                display: flex;
                justify-content: space-around;
            }

            .recipe-details {
                margin-top: 20px;
                display: flex;
                justify-content: space-around;

                .recipe-open-page {
                    cursor: pointer;
                    margin-top: 17px;
                }
            }
        }

        .profile-recipe-img {
            margin-top: 10px;
            height: 180px;
            width: 280px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}
