
.addToFavorite {
    background-image: url('../../../../assets/unfavorite.png');
    transition: background-image .2s ease-out .2s;
    background-size: contain;
    cursor: pointer;
    height: 45px;
    width: 45px;
}

.addToFavorite:hover {
    background-image: url('../../../../assets/favorite.png');
    transition: background-image .2s ease-out .2s;
    height: 45px;
    width: 45px;
}

.removeFromFavorite {
    background-image: url('../../../../assets/favorite.png');
    transition: background-image .2s ease-out .2s;
    background-size: contain;
    cursor: pointer;
    height: 45px;
    width: 45px;
}

.removeFromFavorite:hover {
    background-image: url('../../../../assets/unfavorite.png');
    transition: background-image .2s ease-out .2s;
    height: 45px;
    width: 45px;
}
