<div class="recipe-name-container">
        <textarea name="text" rows="2" cols="20" wrap="hard" placeholder="Enter name"
                  maxlength="60" [(ngModel)]="recipeName"></textarea>
</div>
<div class="container">
    <h2>Details</h2>
    <div class="generalDetails">
        <div class="veganContainer">
            <h2 class="veganText">Vegan: </h2>
            <p-inputSwitch class="veganSwitch" [(ngModel)]="isVegan"></p-inputSwitch>
        </div>
        <p-inputNumber [(ngModel)]="prepareTime"
                       placeholder="Time to prepare" suffix="mins" mode="decimal" [useGrouping]="false"> </p-inputNumber>

        <rate [value]="difficulty" [type]="rateType.difficulty" [readonly]="false" [imageSize]="40"
              (selectedValue)="updateDifficultyFilter($event)" (contextmenu)="resetDifficultyFilter($event)"></rate>
        <rate [value]="spiciness" [type]="rateType.spiciness" [readonly]="false" [imageSize]="40"
              (selectedValue)="updateSpicinessFilter($event)" (contextmenu)="resetSpicinessFilter($event)"></rate>
    </div>

    <h2>Ingredients</h2>

    <p-card [style]="{'margin-top': '20px', 'margin-bottom': '20px'}">
        <div class="card-container">
            <button class="add-button" pButton type="button" label="Add ingredient" (click)="addIngredient()"></button>
            <ul *ngFor="let ing of addedIngredients; let i = index">
                <div class="items">
                    <div class="items-container">
                        <p-dropdown [options]="measurements" [editable]="true" placeholder="Measurement"
                                    [showClear]="true" [(ngModel)]="ing.measurementUnit" [autoDisplayFirst]="false"
                                    class="space"></p-dropdown>
                        <p-dropdown class="item" [options]="ingredients" placeholder="Select ingredient"
                                    optionLabel="name" [filter]="true" filterBy="name"
                                    [showClear]="true" [(ngModel)]="ing.ingredientName">
                        </p-dropdown>
                        <button *ngIf="addedIngredients.length > 1"
                                style="margin-left: 10px" pButton type="button" label="Delete"
                                (click)="deleteIngredient(i)">
                        </button>
                    </div>
                </div>
            </ul>
        </div>
    </p-card>

    <h2>Description</h2>
    <textarea class="insert-distance" rows="1" pInputTextarea [autoResize]="true"
              [(ngModel)]="description" id="descriptionText" (keydown)="formatText($event)"
              (keyup)="clearPressedKeys()"></textarea>

    <h2>How to prepare</h2>
    <textarea class="insert-distance" rows="1" pInputTextarea [autoResize]="true"
              [(ngModel)]="howToPrepare" id="howToPrepareText" (keydown)="formatText($event)"
              (keyup)="clearPressedKeys()"></textarea>

    <h2>Link to image</h2>
    <textarea class=" insert-distance" rows="1" pInputTextarea [autoResize]="true"
              [(ngModel)]="imageLink"></textarea>
</div>
<div>
    <button class="add-button" pButton type="button" label="Create" (click)="createRecipe()"></button>
</div>
