.createRecipeDialog {
    input {
        display: flex;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        font-size: 20px;
        border: none;
        transition: box-shadow 0.3s;
        box-shadow: -1px 10px 0px -7px #ebebeb;
    }

    input:focus {
        outline: none;
        box-shadow: -1px 10px 0px -7px #14B8A6;
    }
}

.container {
    height: auto;

    ::ng-deep .p-card {
        .p-card-body {
            padding: 0 15px;
        }
    }
}

.generalDetails {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;

    ::ng-deep .p-dropdown:not(.p-disabled).p-focus {
        border-color: #402E32;
        box-shadow: none;
    }

    ::ng-deep .p-inputtext:enabled:hover {
        border-color: #402E32;
    }

    .veganContainer {
        display: flex;
        margin-top: 5px;
        justify-items: center;

        .veganText {
            margin-right: 10px;
            margin-top: 2px;
        }

        .veganSwitch {
            margin-top: 4px;

            ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
                background: #402E32;
            }

            ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:hover {
                background: #402E32;
            }

            ::ng-deep .p-inputswitch .p-component.p-inputswitch-checked .p-focus {
                border-color: #402E32;
                outline: none;
            }
        }

        ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
            background: #402E32;
        }

        ::ng-deep .p-inputswitch .p-component.p-inputswitch-checked .p-focus {
            border-color: #402E32;
            background: red;
            outline: none;
            box-shadow: #ba3636;
        }
    }

    padding: 20px;
}

.card-container {
    margin-top: 15px;
    margin-left: 20px;
    position: relative;

    ::ng-deep .p-dropdown:hover {
        border-color: #402E32;
    }
}

.add-button {
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.items {
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;

    ::ng-deep .p-inputnumber .p-inputtext {
        width: 60px;
        text-align: center;
    }

    .space {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.items-container {
    margin: 0 auto;

    .item {
        padding-left: 10px;
        padding-right: 10px;
    }

    ::ng-deep .p-dropdown {
        width: 275px;

        .p-inputtext:enabled:hover {
            border-color: #402E32;
        }

        .p-inputtext:enabled:focus {
            border-color: #402E32;
        }
    }

    ::ng-deep .p-dropdown:focus {
        border-color: #402E32;
    }

    ::ng-deep .p-dropdown:not(.p-disabled).p-focus {
        border-color: #402E32;
        box-shadow: none;
    }
}

.p-card .p-card-content::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.insert-distance {
    white-space: pre-wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.difficulty-container {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    margin-left: 8px;

    .dif-text {
        margin-right: 9px;
        margin-top: 7px;
        font-size: 20px;
    }

    .difficulty-image {
        width: 40px;
        height: 40px;
    }
}

.recipe-name-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    textarea {
        font-weight: bold;
        width: 500px;
        resize: none;
        text-align: center;
        font-size: 27px;
        border: none;
    }

    textarea:focus {
        outline: none;
    }
}

.editor-container {
    margin-left: 30px;
    ::ng-deep .p-card {

        height: 500px;
        width: 15vw;
        position: sticky;
        top: 0;
    }
}

::ng-deep .p-button:enabled:hover {
    background: #402E32;
    border-color: #402E32;
}

::ng-deep .p-button {
    background: #402E32;
    border-color: #402E32;
}

::ng-deep .p-inputtext:hover{
    border-color: #402E32;
}



