.dialog-header {
    height: 30px;
    width: 100%;
    margin: auto;
    padding: 20px 220px 100px;

    img {
        height: auto;
        width: auto;
        max-height: 30vw;
        max-width: 40vw;
        object-fit: fill;
        object-position: center;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
    }
}

.summary-container {
    display: flex;

    .summary-image {
        height: auto;
        width: auto;
        max-height: 25vw;
        max-width: 35vw;
        object-fit: fill;
        border-radius: 5px;
        display: block;
        margin-left: 100px;
    }
}

.recipe-name {
    text-align: center;
    margin-top: 25px;
}

.recipe-description {
    margin-top: 25px;
    margin-bottom: 25px;

    .description-text {
        margin-top: 15px;

        img {
            border-radius: 30px;
            max-width: 40vw;
            max-height: 20vw;
            width: auto;
            height: auto;
            padding: 10px;
        }
    }
}

.recipe-ingredients {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 300px;
    position: sticky;
    top: 1rem;
    align-self: flex-start;
}

.review-content-page{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: auto;

    .recipe-howToPrepare {
        padding-top: 50px;
        padding-bottom: 20px;
        height: auto;
        width: 900px;

        .howToPrepare-text {
            margin-top: 15px;

            img {
                border-radius: 30px;
                max-width: 40vw;
                max-height: 20vw;
                width: auto;
                height: auto;
                padding: 10px;
            }
        }
    }
}

.ingredients-container {
    margin-left: 2vw;
    margin-top: 15px;
    height: auto;
    width: auto;

    .ingredient-line {
        padding: 10px 5px;
    }
}

.details-container {
    width: 20vw;
    padding: 5px 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    .author {
        margin-top: 10px;
        display: inline-flex;
        flex-direction: row;

        .image-person {
            height: 40px;
            width: 40px;
        }

        .author-text {
            cursor: pointer;
            margin-left: 7.5px;
            margin-top: 4px;
        }
    }

    .time-container {
        margin-top: 10px;
        display: inline-flex;
        flex-direction: row;

        .image-clock {
            height: 40px;
            width: 40px;
        }

        .time-text {
            margin-left: 7.5px;
            margin-top: 4px;
        }
    }

    .rating-container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 20px;

        .rating-image {
            width: 40px;
            height: 40px;
        }
    }
}

.review-container {
    padding-top: 20px;
    padding-bottom: 20px;

    .p-card .p-card-content {
        padding: 0;
    }

    .review-insert-title {
        outline: none;
        border: none;
        border-bottom: inset;
        width: 20vw;
    }

    .review-insert-content {
        width: 100%;
    }

    .review-submit {
        padding-top: 20px;
        margin-left: 28vw;
    }

    .review-section-title {
        padding-bottom: 15px;
        display: inline-flex;
        font-size: 20px;
        text-align: center;

        .review-add {
            margin-top: 4px;
            margin-left: 15px;
            width: 30px;
            height: 30px;
        }
    }

    .review {
        margin-top: 10px;
        padding-bottom: 10px;

        .review-card .p-card-body {
            padding-bottom: 40px;

            .review-author-text {
                cursor: pointer;
                margin-top: 5px;
                margin-left: 7px;
            }
        }

        .review-display-content {
            word-wrap: break-word;
        }
    }

    .review-header {
        display: flex;
        justify-content: space-between;

        .review-title {
            display: inline-flex;
            padding-top: 10px;
            padding-left: 15px;
            font-size: 15px;

            .review-date {
                font-style: italic;
                margin-top: 5px;
                margin-left: 10px;
            }
        }

        .review-owner {
            padding-left: 20px;
            font-size: 20px;
        }

        .rating-container {
            margin-top: 10px;
            margin-right: 10px;

            .rating-image {
                width: 30px;
                height: 30px;
            }
        }
    }

    .review-user {
        margin-left: 25px;
        height: 15px;
        display: flex;
        float: left;

        img {
            height: 30px;
            width: 30px;
            margin-bottom: 150px;
        }
    }
}

/* width */
::-webkit-scrollbar {
    height: 2px;
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    opacity: 1;
    transition: background-color .2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    //background-color: #007ad9;
    overflow-y: visible;
}
