.dialog-header {
    height: 30px;
    width: 100%;
}

.page-container {
    padding: 20px 220px 40px;
}

.summary-container {
    display: flex;

    .summary-image {
        img {
            height: auto;
            width: auto;
            max-height: 25vw;
            max-width: 35vw;
            object-fit: fill;
            object-position: center;
            border-radius: 5px;
            display: block;
            margin: 0 auto 0 100px;
        }
    }
}

.recipe-description {
    margin-top: 25px;
    margin-bottom: 25px;

    .description-text {
        margin-top: 15px;

        img {
            border-radius: 30px;
            max-width: 40vw;
            max-height: 20vw;
            width: auto;
            height: auto;
            padding: 10px;
        }
    }
}

.recipe-ingredients {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    position: sticky;
    top: 1rem;
    align-self: flex-start;
}

.review-content-page {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: auto;

    .recipe-howToPrepare {
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        width: 900px;

        .howToPrepare-text {
            margin-top: 15px;

            img {
                height: auto;
                width: auto;
                max-height: 25vw;
                max-width: 35vw;
                object-fit: fill;
                object-position: center;
                border-radius: 5px;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.ingredients-container {
    margin-left: 2vw;
    margin-top: 15px;
    height: auto;
    width: auto;

    .ingredient-line {
        padding: 10px 5px;
    }
}

.details-container {
    width: 20vw;
    padding: 5px 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    .author {
        margin-top: 10px;
        display: inline-flex;
        flex-direction: row;

        .image-person {
            height: 40px;
            width: 40px;
        }

        .author-text {
            cursor: pointer;
            margin-left: 7.5px;
            margin-top: 4px;
        }
    }

    .rating-container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 20px;

        .rating-image {
            width: 40px;
            height: 40px;
        }
    }
}

/* width */
::-webkit-scrollbar {
    height: 2px;
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    opacity: 1;
    transition: background-color .2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    //background-color: #007ad9;
    overflow-y: visible;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .page-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .summary-container {
        display: inline-block;
        width: 100%;

        .summary-image {
            img {
                height: auto;
                width: 100%;
                max-height: none;
                max-width: none;
                margin-left: 0;
            }
        }
    }

    .details-container {
        width: 100%;
        padding: 5px 10px;
        margin-top: 30px;

        .author {
            margin-left: 70px;

            .image-person {
                height: 35px;
                width: 35px;
            }
        }

        .rating-container {
            margin-left: 45px;

        }
    }

    .time-component {
        margin-left: 45px;
    }

    .review-content-page {
        display: inline-block;
        .recipe-howToPrepare {
            width: 100%;
            .howToPrepare-text {
                img {
                    height: auto;
                    width: 100%;
                    max-height: none;
                    max-width: none;
                    margin-left: 0;
                }
            }
        }
    }

    .recipe-ingredients {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        position: relative;
        top: 0;
        align-self: initial;
    }

    .ingredients-container {
        margin-left: 10px;
        margin-top: 10px;
        height: auto;
        width: 100%;

        .ingredient-line {
            padding: 2px;
        }
    }
}
