<div class="login-content">
    <div class="login-form">
        <div class="login-text">
            <h1>Login</h1>
        </div>
        <div class="login-buttons-container primeng-change">
            <div class="login-button">
                <input pInputText placeholder="Email address" [(ngModel)]="emailAddress"/>
            </div>
            <div class="login-button">
                <p-password placeholder="Password" [feedback]="false" [(ngModel)]="password"></p-password>
            </div>
            <div class="login-button">
                <p-button label="Submit" (click)="login()"></p-button>
            </div>
        </div>
        <div class="reset-button">
            <h5>Don't have an account yet ?</h5>
            <h5 class="create-button" (click)="registerAccount()">Create an account</h5>
        </div>
    </div>
</div>
