<div style="margin-bottom: 25px; margin-top: 25px;">
    <input [(ngModel)]="emailAddress" placeholder="EmailAddress">
    <input [(ngModel)]="password" placeholder="Password">
    <p-button (onClick)="login()" label="Login"></p-button>
</div>
<div style="margin-bottom: 25px; margin-top: 25px;">
    <p-button (onClick)="logout()" label="Logout"></p-button>
</div>
<div style="margin-bottom: 25px; margin-top: 25px;">
    <input [(ngModel)]="username" placeholder="Username">
    <input [(ngModel)]="emailAddress" placeholder="EmailAddress">
    <input [(ngModel)]="password" placeholder="Password">
    <input [(ngModel)]="confirmPassword" placeholder="Password">
    <p-button (onClick)="createAccount()" label="Create"></p-button>
</div>
