<div *ngIf="restaurant != null" class="restaurant-container">
    <div id="banner" class="restaurant-banner main-component">
        <img src="{{ restaurant.bannerImage }}" alt="">
    </div>

    <div class="restaurant-page">
        <div class="restaurant-page-main main-component">
                <div class="restaurant-page-main-header">
                    <div class="restaurant-page-main-header-button restaurant-page-main-header-overview"
                         (click)="showOverview()">
                        Overview
                    </div>
                    <div class="restaurant-page-main-header-button restaurant-page-main-header-menu"
                         (click)="showMenu()">
                        Menu
                    </div>
                </div>
                <div *ngIf="displayOverview">
                    <div class="restaurant-page-main-component">
                        <p class="restaurant-page-main-component-title">Description</p>
                        {{ restaurant.description }}
                    </div>
                    <div *ngIf="restaurant.pageText != ''" class="restaurant-page-main-component">
                        <p class="restaurant-page-main-component-title">Announcements</p>
                        {{ restaurant.pageText }}
                    </div>
                    <div *ngIf="restaurant.employAnnounce != ''" class="restaurant-page-main-component">
                        <p class="restaurant-page-main-component-title">We are hiring !</p>
                        {{ restaurant.employAnnounce }}
                    </div>
                </div>
            <div *ngIf="displayMenu">
                <menu *ngIf="restaurant.menu.id != null"
                      [menuId]="restaurant.menu.id"
                      [isOwner]="isOwner"
                      [restaurantId]="restaurant.id">
                </menu>
            </div>
        </div>
        <div class="restaurant-page-summary main-component">
            <div class="restaurant-page-summary-name restaurant-page-summary-component">
                {{ restaurant.name }}
                <div class="restaurant-page-summary-partner">
                    <i>Our partner since: {{ restaurant.partnerSince }}</i>
                </div>
            </div>
            <author class="center-component-flex" [person]="restaurant.owner"/>
            <rate class="center-component-flex" [value]="restaurant.rating" [type]="rateType.rating"/>
            <div class="restaurant-page-summary-component">
                <div class="restaurant-page-summary-component-title">
                    Address:
                </div>
                <div>
                    {{ restaurant.addressLocation }}
                </div>
            </div>
            <div class="restaurant-page-summary-contact restaurant-page-summary-component">
                <div class="restaurant-page-summary-component-title">
                    Contact info:
                </div>
                <div>
                    Telephone number: 0{{ restaurant.telephone }}
                </div>
                <div>
                    Email: {{ restaurant.emailAddress }}
                </div>
                <div class="media-container">
                    <div class="media-logo-button" (click)="openLink(restaurant.facebookLink)">
                        <img src="assets/facebook-logo.png" alt="">
                    </div>
                    <div class="media-logo-button" (click)="openLink(restaurant.instagramLink)">
                        <img src="assets/instagram-logo.png" alt="">
                    </div>
                    <div class="media-logo-button" (click)="openLink(restaurant.websiteAddress)">
                        <img src="assets/website.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-component">
        <review-content [entity]="restaurant"
                        [category]="entityType.RESTAURANT"
                        [reviewType]="reviewType.INSERT"
                        [user]="restaurant.owner"
                        (rating)="updateRestaurantRating($event)">
        </review-content>
    </div>
</div>
