<div class="page-container">
    <div class="profile-details-container">
        <img src="assets/person-icon.png" alt="" class="profile-icon">
        <h1 class="user-name">{{ user.username }}</h1>
    </div>
    <div class="profile-restaurant-container" *ngIf="user.hasRestaurant; else noRestaurant">
        <div class="profile-section-title">
            <h2>Restaurant</h2>
        </div>
        <p-splitter [style]="{'height': '600px'}" [panelSizes]="[65,35]" styleClass="mb-5">
            <ng-template pTemplate>
                <img class="left-panel-image" src="{{ restaurant.frontImage }}" alt="">
            </ng-template>
            <ng-template pTemplate>
                <div class="right-panel-image">
                    <h2>{{ restaurant.name }}</h2>
                    <div class="profile-restaurant-rating">
                        <rate [value]="4" [type]="rateType.rating"></rate>
                    </div>
                    <div class="profile-restaurant-address">
                        <p class="profile-restaurant-title">Location of our restaurant:</p>
                        {{ restaurant.address }}
                    </div>
                    <div class="profile-restaurant-details">
                        <p class="profile-restaurant-title">Short description of our special place:</p>
                        {{ restaurant.description }}
                    </div>
                    <div class="profile-restaurant-visit-button">
                        <p-button label="Visit restaurant page" (onClick)="goToRestaurant(restaurant.name)"></p-button>
                    </div>
                </div>
            </ng-template>
        </p-splitter>
    </div>
    <ng-template #noRestaurant>
        <div class="profile-section-title">
            <h2>Restaurant</h2>
            <h4 class="subtitle-not-found">There is no restaurant to display.</h4>
        </div>
    </ng-template>
    <recipes-list [recipes]="recipes"></recipes-list>
    <div class="review-container" *ngIf="reviews.length > 0; else noReviews">
        <div class="profile-section-title">
            <h2>Recipes</h2>
        </div>
        <div *ngFor="let review of reviews">
            <div class="review">
                <p-card class="review-card">
                    <ng-template pTemplate="header">
                        <div class="review-header">
                            <div>
                                <div class="review-title">
                                    <h2>{{ review.title }}</h2>
                                    <p class="review-date"> {{ review.creationDate }} </p>
                                </div>
                            </div>
                            <div class="rating-container">
                                <p-rating [(ngModel)]="review.rating" [stars]="5" [cancel]="false"
                                          [readonly]="true">
                                    <ng-template pTemplate="officon">
                                        <img src="assets/star-unfilled.png" alt="" class="rating-image">
                                    </ng-template>
                                    <ng-template pTemplate="onicon">
                                        <img src="assets/star.png" alt="" class="rating-image">
                                    </ng-template>
                                </p-rating>
                            </div>
                        </div>
                    </ng-template>

                    <div class="review-display-content">
                        {{ review.text }}
                    </div>

                    <ng-template pTemplate="footer">
                        <div class="review-entity">
                            <div *ngIf="review.category == 'RECIPE'; else restaurantName">
                                <h3 class="review-author-text"
                                    (click)="goToRecipePage(review.entityName)">Recipe: {{ review.entityName }} </h3>
                            </div>
                            <ng-template #restaurantName>
                                <h3 class="review-author-text"
                                    (click)="goToRecipePage(review.entityName)">
                                    Restaurant: {{ review.entityName }} </h3>
                            </ng-template>
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
    <ng-template #noReviews>
        <div class="profile-section-title">
            <h2>Reviews</h2>
            <h4 class="subtitle-not-found">There are no reviews to display.</h4>
        </div>
    </ng-template>
</div>
