.profile-details-container {
    margin-left: 50px;
    display: flex;

    .user-name {
        margin-left: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    img {
        width: 120px;
        height: 120px;
    }
}

.profile-section-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;

    .subtitle-not-found {
        padding: 10px;
    }
}

.profile-restaurant-container {
    padding-top: 20px;
    padding-bottom: 20px;

    .left-panel-image {
        height: 600px;
        width: 1000px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .right-panel-image {
        padding: 40px 15px 20px;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: auto;

        .profile-restaurant-address {
            padding: 20px 0 20px;
            width: 60%;
            margin: auto;
        }

        .profile-restaurant-details {
            height: 210px;
            width: 100%;
        }

        .profile-restaurant-rating {
            padding-top: 10px;
            padding-bottom: 5px;
        }

        .profile-restaurant-visit-button {
            width: 100%;
            margin-top: 2vw;
        }
    }
}

.profile-restaurant-title {
    font-weight: bold;
    padding-bottom: 5px;
}
