<meta name="viewport" content="width=device-width,initial-scale=1.0">

<div class="banner">
    <img style="width: 100%;" alt="" src="assets/food-banner.jpg">
    <button pButton type="button" label="Select ingredients" (click)="toggleShowIngredients()"
            class="ingredients-button"></button>
</div>

<div *ngIf="showIngredientList" class="ingredient-container message">
    <div class="search-card">
        <p-card class="card-container search-card">
            <ng-template pTemplate="header">
                <h2 style="text-align: center; padding-top: 20px;">Search</h2>
            </ng-template>
            <div class="col-12 md:col-4">
                <div class="p-inputgroup" style="margin-left: 5px;">
                    <button type="button" pButton pRipple label="Search"></button>
                    <input type="text" pInputText [(ngModel)]="searchCategory" (ngModelChange)="refreshIngredients()"
                           placeholder="category" style="text-align: center">
                </div>
                <div class="p-inputgroup" style="margin-top: 20px; margin-left: 5px;">
                    <button type="button" pButton pRipple label="Search"></button>
                    <input type="text" pInputText [(ngModel)]="searchIngredient" (ngModelChange)="refreshIngredients()"
                           placeholder="ingredient" style="text-align: center">
                </div>
                <div style="margin-left: 5px;">
                    <p-button label="Selected ingredients" icon="pi pi-apple" class="selected-ingredients-button"
                              badge="{{ selectedIngredients.length }}" (click)="showSelectedIngredientsDialog()">
                    </p-button>
                </div>
            </div>
        </p-card>
    </div>
    <div *ngFor="let ingredient of filteredIngredients.categoryIngredients">
        <div class="ingredient-card">
            <p-card class="card-container ingredient-card">
                <ng-template pTemplate="header">
                    <h2 style="text-align: center; padding-top: 15px;">{{ ingredient.categoryName | titlecase }}</h2>
                </ng-template>
                <div class="select-ingredient-container">
                    <div *ngFor="let ing of ingredient.ingredients; let i = index" class="select-ingredient">
                        <div *ngIf="i < 6; else show_list_button">
                            <button pButton pRipple type="button" label="{{ ing.name }}"
                                    [ngClass]="{'selected': ing.selected == true, 'unselected': ing.selected == false}"
                                    class="p-button-rounded" (click)="toggleIngredientSelection(ing)"></button>
                        </div>
                        <ng-template #show_list_button>
                            <div *ngIf="i === 6">
                                <button pButton pRipple type="button"
                                        label="Show other {{ ingredient.ingredients.length - 6 }}"
                                        (click)="showSelectedIngredientCategoryDialog(ingredient.categoryName)"
                                        class="p-button-rounded"></button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>
<div class="filterContainer" *ngIf="!isMobile">
    <div>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="filterRecipeName" placeholder="Search recipe name"
                   (change)="refreshRecipes()">
        </span>
    </div>
    <div>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="filterAuthorName" placeholder="Search author name"
                   (submit)="refreshRecipes()">
        </span>
    </div>
    <div class="container-filter-component">
        <p class="indicator-text">Prepare time: {{ sliderText }}</p>
        <p-slider [(ngModel)]="rangeValues" [min]="1" [max]="600" [range]="true"
                  (onChange)="changeSliderValue()"></p-slider>
    </div>
    <rate [value]="filterRating" [type]="rateType.rating" [readonly]="false" [imageSize]="40"
          (selectedValue)="updateRatingFilter($event)" (contextmenu)="resetRatingFilter($event)"></rate>
    <rate [value]="filterDifficulty" [type]="rateType.difficulty" [readonly]="false" [imageSize]="40"
          (selectedValue)="updateDifficultyFilter($event)" (contextmenu)="resetDifficultyFilter($event)"></rate>
    <rate [value]="filterSpiciness" [type]="rateType.spiciness" [readonly]="false" [imageSize]="40"
          (selectedValue)="updateSpicinessFilter($event)" (contextmenu)="resetSpicinessFilter($event)"></rate>
</div>

<!-- MOBILE -->
<div class="mobile-recipe-search" *ngIf="isMobile">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="filterRecipeName" placeholder="Search recipe name"
               (change)="refreshRecipes()">
    </span>
</div>
<!-- END MOBILE -->

<div class="selected-ingredients" *ngIf="selectedIngredients.length > 0">
    <h4>Selected ingredients:&nbsp;</h4>
    <div class="text-container" *ngFor="let ingredient of selectedIngredients">
        <h4>{{ ingredient.name }},&nbsp;</h4>
    </div>
</div>
<div class="recipes-container" style="padding-bottom: 20px" fx fxLayout="row wrap" fxLayoutGap="0px grid">
    <div class="recipe-card" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let recipe of recipes">
        <p-card class="card-container">
            <ng-template pTemplate="header">
                <div>
                    <img alt="Card" src="{{ recipe.imageAddress }}" class="image-card-header"
                         (click)="showViewRecipeDialog(recipe)">
<!--                    <div class="save-button">-->
<!--                        <button pButton type="button" class="p-button-raised p-button-rounded"-->
<!--                                icon="pi pi-bookmark"></button>-->
<!--                    </div>-->
                </div>
            </ng-template>
            <div class="recipe-details-container">
                <div class="time-component">
                    <img src="assets/clock.png" alt="" class="time-image">
                    <h5 class="time-text">{{ recipe.time | time }}</h5>
                </div>
                <rate class="rate-difficulty" [value]="recipe.difficulty" [type]="rateType.difficulty"
                      [imageSize]="30"></rate>
            </div>
        </p-card>
    </div>
</div>

<p-dialog header="Selected ingredients:" [(visible)]="selectedIngredientsDialog" [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true">
    <ng-template pTemplate="footer">

    </ng-template>
</p-dialog>

<p-dialog header="{{selectedCategory | titlecase }}" [(visible)]="selectedIngredientCategoryDialog"
          [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true">
    <ng-template pTemplate="footer">
        <div class="select-ingredient-container">
            <div *ngFor="let ing of chooseIngredients;" class="select-ingredient">
                <button pButton pRipple type="button" label="{{ ing.name }}"
                        [ngClass]="{'selected': ing.selected == true, 'unselected': ing.selected == false}"
                        class="p-button-rounded" (click)="toggleIngredientSelection(ing)"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Selected ingredients" [(visible)]="selectedIngredientsDialog"
          [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true">
    <ng-template pTemplate="footer">
        <div class="select-ingredient-container">
            <div *ngFor="let ing of selectedIngredients;" class="select-ingredient">
                <button pButton pRipple type="button" label="{{ ing.name }}"
                        [ngClass]="{'selected': ing.selected == true, 'unselected': ing.selected == false}"
                        class="p-button-rounded" (click)="toggleIngredientSelection(ing)"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="viewRecipeDialog"
          [style]="{width: '65vw', height: '50vw'}" [showHeader]="false"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true"
          [closable]="true">
    <app-recipe-view [recipe]="selectedRecipe"></app-recipe-view>
</p-dialog>
