<meta name="viewport" content="width=device-width,initial-scale=1.0">

<div class="banner">
    <div style="height: 373px">

    </div>
<!--    <img style="width: 100%;" alt="" src="assets/fresh-vegetables-table_1_edited.jpg">-->
    <button pButton type="button" label="Select ingredients" (click)="toggleShowIngredients()"
            class="ingredients-button"></button>
</div>

<div *ngIf="showIngredientList" class="ingredient-container">
    <div class="search-card">
        <p-card class="search-card">
            <ng-template pTemplate="header">
                <h2 style="text-align: center; padding-top: 20px;">Search</h2>
            </ng-template>
            <div class="col-12 md:col-4">
                <div class="p-inputgroup" style="margin-left: 5px;">
                    <button type="button" pButton pRipple label="Search"></button>
                    <input type="text" pInputText [(ngModel)]="searchCategory" (ngModelChange)="refreshIngredients()"
                           placeholder="category" style="text-align: center">
                </div>
                <div class="p-inputgroup" style="margin-top: 20px; margin-left: 5px;">
                    <button type="button" pButton pRipple label="Search"></button>
                    <input type="text" pInputText [(ngModel)]="searchIngredient" (ngModelChange)="refreshIngredients()"
                           placeholder="ingredient" style="text-align: center">
                </div>
                <div style="margin-left: 5px;">
                    <p-button label="Selected ingredients" icon="pi pi-apple" class="selected-ingredients-button"
                              badge="{{ selectedIngredients.length }}" (click)="showSelectedIngredientsDialog()">
                    </p-button>
                </div>
            </div>
        </p-card>
    </div>
    <div class="ingredient-card" *ngFor="let ingredient of filteredIngredients.categoryIngredients">
        <p-card>
            <ng-template pTemplate="header">
                <h2 class="ingredient-card-title">{{ ingredient.categoryName | titlecase }}</h2>
            </ng-template>
            <div class="select-ingredient-container">
                <div *ngFor="let ing of ingredient.ingredients; let i = index" class="select-ingredient">
                    <div *ngIf="i < 12; else show_list_button">
                        <div [ngClass]="{'selected': ing.selected == true, 'unselected': ing.selected == false}"
                             class="select-ingredient-container-element" (click)="toggleIngredientSelection(ing)">
                            {{ ing.name }}
                        </div>
                    </div>
                    <ng-template #show_list_button>
                        <div *ngIf="i === 12" class="select-ingredient-container-element"
                             (click)="showSelectedIngredientCategoryDialog(ingredient.categoryName)">
                            Show other {{ ingredient.ingredients.length - 12 }}
                        </div>
                    </ng-template>
                </div>
            </div>
        </p-card>
    </div>
</div>

<!-- MOBILE SEARCH -->
<div class="mobile-recipe-search" *ngIf="isMobile">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="filterRecipeName" placeholder="Search recipe name"
               (ngModelChange)="refreshRecipes()">
    </span>
</div>
<!-- END MOBILE SEARCH -->

<div class="filterContainer" *ngIf="!isMobile">
    <div *ngIf="user != null && showFavorites === true" class="showFavoritesButton" tooltipPosition="top"
         pTooltip="Show favorite recipes" (click)="goToFavouriteRecipes()"></div>
    <div *ngIf="user != null && showFavorites === false" class="hideFavoritesButton" tooltipPosition="top"
         pTooltip="Show all recipes" (click)="goToRecipes()"></div>
    <div class="filter-component">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="filterRecipeName" placeholder="Search recipe name"
                   (ngModelChange)="refreshRecipes()">
        </span>
    </div>
    <div class="filter-component">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="filterAuthorName" placeholder="Search author name"
                   (ngModelChange)="refreshRecipes()">
        </span>
    </div>
    <div class="filter-component"class="container-filter-component">
        <p class="indicator-text">Prepare time: {{ sliderText }}</p>
        <p-slider [(ngModel)]="rangeValues" [min]="1" [max]="600" [range]="true"
                  (onChange)="changeSliderValue()"></p-slider>
    </div>
    <rate class="filter-component" [value]="filterRating" [type]="rateType.rating" [readonly]="false" [imageSize]="40"
          (selectedValue)="updateRatingFilter($event)" (contextmenu)="resetRatingFilter($event)"></rate>
    <rate class="filter-component"[value]="filterDifficulty" [type]="rateType.difficulty" [readonly]="false" [imageSize]="40"
          (selectedValue)="updateDifficultyFilter($event)" (contextmenu)="resetDifficultyFilter($event)"></rate>
    <rate class="filter-component"[value]="filterSpiciness" [type]="rateType.spiciness" [readonly]="false" [imageSize]="40"
          (selectedValue)="updateSpicinessFilter($event)" (contextmenu)="resetSpicinessFilter($event)"></rate>
</div>
<div class="background-component">
    <!-- SHOW RECIPES -->
    <recipes-container *ngIf="isLoaded === true" (favoriteListUpdated)="refreshFavoriteNames()"
                     [recipes]="recipes"
                     [width]="27"
                     [height]="15"
                     [headerSize]="11.5"
                     [user]="user">
    </recipes-container>
    <!-- END SHOW RECIPES-->
</div>

<p-dialog header="{{selectedCategory | titlecase }}" [(visible)]="selectedIngredientCategoryDialog"
          [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true">
    <ng-template pTemplate="footer">
        <div class="select-ingredient-container">
            <div *ngFor="let ing of chooseIngredients;" class="select-ingredient">
                <button pButton pRipple type="button" label="{{ ing.name }}"
                        [ngClass]="{'selected': ing.selected == true, 'unselected': ing.selected == false}"
                        class="p-button-rounded" (click)="toggleIngredientSelection(ing)"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Selected ingredients" [(visible)]="selectedIngredientsDialog"
          [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true">
    <ng-template pTemplate="footer">
        <div class="select-ingredient-container">
            <div *ngFor="let ing of selectedIngredients;" class="select-ingredient">
                <button pButton pRipple type="button" label="{{ ing.name }}"
                        [ngClass]="{'selected': ing.selected == true, 'unselected': ing.selected == false}"
                        class="p-button-rounded" (click)="toggleIngredientSelection(ing)"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>
