<div class="banner">
    <img style="width: 100%;" alt="" src="assets/food-banner.jpg">
    <button pButton type="button" label="Select ingredients" (click)="toggleShowIngredients()"
            class="ingredients-button"></button>
</div>

<div *ngIf="showIngredientList" class="ingredient-container message">
    <div class="search-card">
        <p-card class="card-container search-card">
            <ng-template pTemplate="header">
                <h2 style="text-align: center; padding-top: 20px;">Search</h2>
            </ng-template>
            <div class="col-12 md:col-4">
                <div class="p-inputgroup" style="margin-left: 5px;">
                    <button type="button" pButton pRipple label="Search"></button>
                    <input type="text" pInputText [(ngModel)]="searchCategory" (ngModelChange)="refreshIngredients()"
                           placeholder="category" style="text-align: center">
                </div>
                <div class="p-inputgroup" style="margin-top: 20px; margin-left: 5px;">
                    <button type="button" pButton pRipple label="Search"></button>
                    <input type="text" pInputText [(ngModel)]="searchIngredient" (ngModelChange)="refreshIngredients()"
                           placeholder="ingredient" style="text-align: center">
                </div>
                <div style="margin-left: 5px;">
                    <p-button label="Selected ingredients" icon="pi pi-apple" class="selected-ingredients-button"
                              badge="{{ selectedIngredients.length }}" (click)="showSelectedIngredientsDialog()">
                    </p-button>
                </div>
            </div>
        </p-card>
    </div>
    <div *ngFor="let ingredient of filteredIngredients.categoryIngredients">
        <div class="ingredient-card">
            <p-card class="card-container ingredient-card">
                <ng-template pTemplate="header">
                    <h2 style="text-align: center; padding-top: 15px;">{{ ingredient.categoryName | titlecase }}</h2>
                </ng-template>
                <div class="select-ingredient-container">
                    <div *ngFor="let ing of ingredient.ingredients; let i = index" class="select-ingredient">
                        <div *ngIf="i < 6; else show_list_button">
                            <button pButton pRipple type="button" label="{{ ing.name }}"
                                    [ngClass]="{'selected': ing.selected == true, 'unselected': ing.selected == false}"
                                    class="p-button-rounded" (click)="toggleIngredientSelection(ing)"></button>
                        </div>
                        <ng-template #show_list_button>
                            <div *ngIf="i === 6">
                                <button pButton pRipple type="button"
                                        label="Show other {{ ingredient.ingredients.length - 6 }}"
                                        (click)="showSelectedIngredientCategoryDialog(ingredient.categoryName)"
                                        class="p-button-rounded"></button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>
<div class="filterContainer">
    <div>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="filterRecipeName" placeholder="Search recipe name" (change)="refreshRecipes()">
        </span>
    </div>
    <div>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="filterAuthorName" placeholder="Search author name" (submit)="refreshRecipes()">
        </span>
    </div>
    <div class="container-filter-component">
        <p class="indicator-text">Prepare time: {{ sliderText }}</p>
        <p-slider [(ngModel)]="rangeValues" [min]="1" [max]="600" [range]="true" (onChange)="changeSliderValue()"></p-slider>
    </div>
    <div class="filter-rating-container">
        <p-rating [(ngModel)]="filterRating" [stars]="5" [cancel]="false" (contextmenu)="resetRatingFilter($event)"
                  (click)="refreshRecipes()" pTooltip="Rating" tooltipPosition="top">
            <ng-template pTemplate="cancel">
                <img src="assets/cross.png" alt="" style="width: 28px; height: 28px;">
            </ng-template>
            <ng-template pTemplate="officon">
                <img src="assets/star-unfilled.png" alt="" class="rating-filter-image">
            </ng-template>
            <ng-template pTemplate="onicon">
                <img src="assets/star.png" alt="" class="rating-filter-image">
            </ng-template>
        </p-rating>
    </div>
    <div class="filter-rating-container">
        <p-rating [(ngModel)]="filterDifficulty" [stars]="5" [cancel]="false" (contextmenu)="resetDifficultyFilter($event)"
                  (click)="refreshRecipes()" pTooltip="Difficulty" tooltipPosition="top">
            <ng-template pTemplate="cancel">
                <img src="assets/cross.png" alt="" style="width: 28px; height: 28px;">
            </ng-template>
            <ng-template pTemplate="officon">
                <img src="assets/effort-unfilled.png" alt="" class="rating-filter-image">
            </ng-template>
            <ng-template pTemplate="onicon">
                <img src="assets/effort.png" alt="" class="rating-filter-image">
            </ng-template>
        </p-rating>
    </div>
    <div class="filter-rating-container">
        <p-rating [(ngModel)]="filterSpiciness" [stars]="5" [cancel]="false" (contextmenu)="resetSicinessFilter($event)"
                  (click)="refreshRecipes()" pTooltip="Spiciness" tooltipPosition="top">
            <ng-template pTemplate="cancel">
                <img src="assets/cross.png" alt="" style="width: 28px; height: 28px;">
            </ng-template>
            <ng-template pTemplate="officon">
                <img src="assets/chili-unfilled.png" alt="" class="rating-filter-image">
            </ng-template>
            <ng-template pTemplate="onicon">
                <img src="assets/chili.png" alt="" class="rating-filter-image">
            </ng-template>
        </p-rating>
    </div>
</div>
<div class="selected-ingredients" *ngIf="selectedIngredients.length > 0">
    <h4>Selected ingredients:&nbsp;</h4>
    <div class="text-container" *ngFor="let ingredient of selectedIngredients">
        <h4>{{ ingredient.name }},&nbsp;</h4>
    </div>
</div>
<div class="recipes-container" fxLayout="row wrap" fxLayoutGap="40px grid">
    <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let recipe of recipes">
        <p-card class="card-container">
            <ng-template pTemplate="header">
                <img alt="Card" src="{{ recipe.imageAddress }}" class="image-card-header"
                     (click)="showViewRecipeDialog(recipe)">
                <div class="save-button">
                    <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-bookmark"></button>
                </div>
            </ng-template>
            <div>
                <div class="time-container">
                    <img src="assets/clock.png" alt="" class="image-clock">
                    <h5 class="time-text">{{ recipe.time | time }}</h5>
                </div>
                <div class="difficulty-container">
                    <p-rating [(ngModel)]="recipe.difficulty" [stars]="5" [cancel]="false" [readonly]="true"
                              pTooltip="Difficulty" tooltipPosition="top">
                        <ng-template pTemplate="officon">
                            <img src="assets/effort-unfilled.png" alt="" class="difficulty-image">
                        </ng-template>
                        <ng-template pTemplate="onicon">
                            <img src="assets/effort.png" alt="" class="difficulty-image">
                        </ng-template>
                    </p-rating>
                </div>
            </div>
        </p-card>
    </div>
</div>

<p-dialog header="Selected ingredients:" [(visible)]="selectedIngredientsDialog" [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true">
    <ng-template pTemplate="footer">

    </ng-template>
</p-dialog>

<p-dialog header="{{selectedCategory | titlecase }}" [(visible)]="selectedIngredientCategoryDialog"
          [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true">
    <ng-template pTemplate="footer">
        <div class="select-ingredient-container">
            <div *ngFor="let ing of chooseIngredients;" class="select-ingredient">
                <button pButton pRipple type="button" label="{{ ing.name }}"
                        [ngClass]="{'selected': ing.selected == true, 'unselected': ing.selected == false}"
                        class="p-button-rounded" (click)="toggleIngredientSelection(ing)"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Selected ingredients" [(visible)]="selectedIngredientsDialog"
          [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true">
    <ng-template pTemplate="footer">
        <div class="select-ingredient-container">
            <div *ngFor="let ing of selectedIngredients;" class="select-ingredient">
                <button pButton pRipple type="button" label="{{ ing.name }}"
                        [ngClass]="{'selected': ing.selected == true, 'unselected': ing.selected == false}"
                        class="p-button-rounded" (click)="toggleIngredientSelection(ing)"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<div class="createRecipeDialog">
    <p-dialog [(visible)]="viewRecipeDialog"
              [style]="{width: '65vw', height: '50vw'}" [showHeader]="false"
              [baseZIndex]="10000" [draggable]="false" [resizable]="false" [dismissableMask]="true" [modal]="true"
              [closable]="true">
        <app-recipe-view [recipe]="selectedRecipe" [value]></app-recipe-view>
    </p-dialog>
</div>
