.banner {
    display: flex;
    border-radius: 0.3vw;

    .ingredients-button {
        position: absolute;
        left: 50%;
        margin-left: -120px;
        margin-top: 250px;
        height: 70px;
        width: 250px;
        font-size: 25px;

        ::ng-deep .p-ripple .p-element .p-button .p-component {
            background: #402E32;
            border-color: #402E32;
        }
    }
}

.p-button:enabled:hover {
    background: #402E32;
    border-color: #402E32;
}

.p-button {
    background: #402E32;
    border-color: #402E32;
}

.p-button:enabled:focus {
    background: #402E32;
    outline: none;
}

.p-ripple .p-element .p-button .p-component {
    background: #402E32;
    border-color: #402E32;
}

.p-button:enabled:hover {
    background: #402E32;
    border-color: #402E32;
}

.p-inputtext:hover {
    border-color: #402E32;
}

.filterContainer {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 10px 5px 10px;

    .filter-component {
        padding: 10px;
    }

    input {
        text-align: center;
        font-size: 18px;
    }

    .container-filter-component {
        height: 75px;
        width: 250px;

        .indicator-text {
            margin-bottom: 5px;
            text-align: center;
            font-style: oblique;
            font-size: 15px;
        }

        ::ng-deep .p-slider {
            height: 10px;

            .p-slider-range {
                background: #402E32;
            }

            .p-slider-handle {
                border-color: #402E32;
            }

            .p-slider-handle:hover {
                background: #402E32;
            }
        }
    }
}

.ingredient-container {
    height: 310px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    overflow-y: auto;

    .search-card {
        width: 345px;
        margin-left: 20px;

        ::ng-deep .p-card {
            height: 270px;
            border-radius: 5px;

            .p-card-body {
                padding-top: 1px;
                padding-left: 10px;
            }
        }
    }

    .ingredient-card {
        width: 350px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 15px;

        .ingredient-card-title {
            text-align: center;
            padding-top: 15px;
        }

        ::ng-deep .p-card {
            .p-card-body {
                height: 230px;
                padding: 5px;
            }

            .p-card-content {
                padding: 0;
            }
        }
    }
}

.select-ingredient-container {
    padding: 0 0 5px 5px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    .select-ingredient-container-element {
        cursor: pointer;
        border-radius: 10px;
        padding: 10px;
        width: auto;
        height: auto;
        max-font-size: 15px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        background: #402E32;
        color: white;
    }

    .select-ingredient {
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-top: 7px;

        .p-button {
            padding: 8px;
        }

        button {
            font-size: 15px;
        }

        .selected {
            background-color: #DFE0DF;
            border-color: #DFE0DF;
            color: black;
        }

        .unselected {
            background: #402E32;
            border-color: #402E32;
        }
    }

    .p-scrollpanel-bar {
        background-color: var(--layer-2);
        border-radius: 0;
        opacity: 1;
        transition: background-color .2s;
    }
}

.selected-ingredients {
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

.selected-ingredients-button {

    ::ng-deep .p-button {
        display: flex;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        background: #402E32;
        border-color: #402E32;

        .p-badge {
            color: #402E32;
        }
    }
}

/* width */
::-webkit-scrollbar {
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    opacity: 1;
    transition: background-color .2s;
    overflow-x: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    //background-color: #007ad9;
    overflow-x: visible;
}

.mobile-recipe-search {
    span {
        padding: 10px 5px 5px;
        width: 100%;

        input {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .banner {
        padding-bottom: 18px;
    }

    .save-button {
        bottom: 210px;
        right: 8px;
    }
}
