.banner {
    display: flex;
    border-radius: 0.3vw;

    .ingredients-button {
        height: 3vw;
        width: 13.4vw;
        position: absolute;
        margin-top: 14vw;
        margin-left: 43vw;
        font-size: 1.2vw;
    }
}

.filterContainer {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    input {
        text-align: center;
        font-size: 18px;
    }

    .container-filter-component {
        height: 75px;
        width: 250px;

        .indicator-text {
            margin-bottom: 5px;
            text-align: center;
            font-style: oblique;
            font-size: 15px;
        }

        ::ng-deep .p-slider {
            height: 10px;

        }
    }
}

.recipes-container {
    padding: 10px;
    justify-content: center;
    display: inline;
    overflow: hidden;

    ::ng-deep .p-card {

        height: 300px;
        border-radius: 10px 10px 20px 20px;

        .p-card-body {
            padding-top: 1px;
            padding-left: 10px;
        }
    }
}

.image-card-header {
    height: 220px;
    object-fit: cover;
    z-index: 0;
    border-radius: 10px 10px 0 0;
}

.save-button {
    display: block;
    z-index: 1;
    position: relative;
    bottom: 200px;
    right: 20px;
    float: right;

    //::ng-deep .p-button {
    //    background: #ffbc68;
    //    border-color: #ffbc68;
    //}
}

.time-component {
    display: flex;
    flex-direction: row;
    float: left;
    margin-top: 0;
    margin-left: 25px;

    .time-image {
        height: 35px;
        width: 35px;
    }

    .time-text {
        font-size: 17px;
        margin-left: 10px;
        margin-top: 6.5px;
    }
}

.difficulty-container {
    display: flex;
    flex-direction: row;
    float: right;
    margin-bottom: 2px;
}

.ingredient-container {
    height: 310px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.search-card {
    width: 300px;
    margin-left: 20px;

    ::ng-deep .p-card {

        height: 270px;
        border-radius: 5px;

        .p-card-body {
            padding-top: 1px;
            padding-left: 10px;
        }
    }
}

.ingredient-card {
    width: 250px;
    margin-left: 15px;

    ::ng-deep .p-card {

        height: 270px;
        border-radius: 5px;

        .p-card-body {
            margin: auto;
            padding-top: 1px;
            padding-left: 0px;
        }
    }
}

.select-ingredient-container {
    padding: 0 0 5px 5px;
    display: flex;
    flex-wrap: wrap;

    .select-ingredient {
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-top: 7px;

        .p-button {
            padding: 8px;
        }

        button {
            font-size: 15px;
        }

        .selected {
            background-color: #ba3636;
            border-color: #ba3636;
        }

        .unselected {
            background-color: #14B8A6;
            border-color: #14B8A6;
        }
    }

    .p-scrollpanel-bar {
        background-color: var(--layer-2);
        border-radius: 0;
        opacity: 1;
        transition: background-color .2s;
    }
}

.selected-ingredients {
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

.selected-ingredients-button {

    ::ng-deep .p-button {
        display: flex;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* width */
::-webkit-scrollbar {
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    opacity: 1;
    transition: background-color .2s;
    overflow-x: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    //background-color: #007ad9;
    overflow-x: visible;
}
