.review-container {
    padding-top: 20px;
    padding-bottom: 20px;

    .p-card .p-card-content {
        padding: 0;
    }

    .review-insert-title {
        outline: none;
        border: none;
        border-bottom: inset;
        width: 20vw;
    }

    .review-insert-content {
        width: 100%;
    }

    .review-submit {
        padding-top: 20px;
        margin-left: 28vw;
    }

    .review-section-title {
        padding-bottom: 15px;
        display: inline-flex;
        font-size: 20px;
        text-align: center;

        .review-add {
            margin-top: 4px;
            margin-left: 15px;
            width: 30px;
            height: 30px;
        }
    }

    .review {
        margin-top: 10px;
        padding-bottom: 10px;

        .review-card .p-card-body {
            padding-bottom: 40px;

            .review-author-text {
                cursor: pointer;
                margin-top: 5px;
                margin-left: 7px;
            }
        }

        .review-display-content {
            word-wrap: break-word;
        }
    }

    .review-header {
        display: flex;
        justify-content: space-between;

        .review-title {
            display: inline-flex;
            padding-top: 10px;
            padding-left: 15px;
            font-size: 15px;

            .review-date {
                font-style: italic;
                margin-top: 5px;
                margin-left: 10px;
            }
        }

        .review-owner {
            padding-left: 20px;
            font-size: 20px;
        }

        .rating-container {
            margin-top: 10px;
            margin-right: 10px;
        }
    }

    .review-user {
        margin-left: 15px;
        height: 15px;
        display: flex;
        float: left;

        .review-edit-delete {
            cursor: pointer;
        }

        img {
            height: 30px;
            width: 30px;
            margin-bottom: 150px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

.review-rate {
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .review-container {
        .review-header {
            justify-content: initial;

            .review-title {
                padding-left: 10px;
                display: inline-block;

                .review-date {
                    font-style: italic;
                    margin-top: 5px;
                    margin-left: 20px;
                }
            }

            .rating-container {
                margin-top: 10px;
                margin-right: 10px;

                .rating-image {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
