// RECIPE
.recipe-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;

    .web-img {
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
}

// Time image + text = time-component
.time-component {
    display: inline-flex;
    flex-direction: row;
    margin: auto;

    .time-image {
        height: 40px;
        width: 40px;
    }

    .time-text {
        margin-left: 7.5px;
        margin-top: 10px;
    }
}

// LOGIN - REGISTER

.login-content {
    //background-image: url('../src/assets/layered-waves-haikei (1).png');
    //background-repeat: repeat-x;
    background-image: url('../src/assets/Background_M.jpg');
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    border-radius: 5px;
    background-color: #402E32;
    width: 300px;
    height: 50vh;
    position: relative;

    .login-text {
        padding: 15px;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #402E32;
        color: #DFE0DF;
    }

    .login-buttons-container {
        margin-top: 50px;
        width: 100%;

        .login-button {
            padding: 10px 0;
            display: table;
            margin: 0 auto;
        }
    }

    .reset-button {
        color: #DFE0DF;
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: 20px;

        .create-button {
            color: #9cb0a4;
            cursor: pointer;
        }
    }
}

// PROFILES
.profile-container-title {
    padding-bottom: 15px;
    display: inline-flex;
    font-size: 30px;
    text-align: center;
}

// RESTAURANTS - CREATE

.create-general-info {
    display: flex;
    justify-content: space-evenly;

    .links-container{
        display: block;
        flex: 1;

        img {
            margin-right: 10px;
            height: 45px;
            width: 45px;
        }
    }

    .create-flex-1 {
        flex: 1;
    }

    .create-flex-2 {
        flex: 2;
    }
}

// OTHERS
.media-container {
    display: flex;
    margin-top: 10px;
    justify-content: center;

    .media-logo-button {
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: 0 10px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}


.create-name-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    textarea {
        font-weight: bold;
        width: 500px;
        resize: none;
        text-align: center;
        font-size: 27px;
        border: none;
    }

    textarea:focus {
        outline: none;
    }
}

.insert-distance {
    white-space: pre-wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.create-component {
    padding: 10px;

    .create-component-title {
        margin-bottom: 10px;
    }
}

.paragraph-text-format {
    margin: 0 auto;

    img {
        height: auto;
        width: auto;
        max-height: 30vw;
        max-width: 40vw;
        object-fit: fill;
        object-position: center;
        border-radius: 5px;
        display: block;
        margin: 20px auto;
    }
}

.main-component {
    padding: 20px;
    margin-top: 20px;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 16px 28px 13px rgba(0, 0, 0, 0.1);
    background: #fdfbf8;
    border-radius: 10px;
    color: black;
}

.button-style {
    cursor: pointer;
    border-radius: 5px;
    background: #DFE0DF;
    padding: 10px;
    margin: auto 0;
    color: black;
    width: auto;
    text-align: center;
}

.brown-button {
    color: white !important;
    background: #402E32 !important;
}

.circle-button {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #DFE0DF;
    text-align: center;
    color: black;
    font-size: 23.5px;
    cursor: pointer;
}

.showFavoritesButton {
    background-image: url('assets/favorite.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    cursor: pointer;
    height: 55px;
    width: 55px;
}

.hideFavoritesButton {
    background-image: url('assets/unfavorite.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    cursor: pointer;
    height: 55px;
    width: 55px;
}

.input-style {
    background: rgba(34, 34, 34, 0);
    color: white;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: normal;
    width: auto;
}

.input-style:focus {
    outline: none;
}

.reviews-container {
    padding: 0 20px 0 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.center-component-flex {
    display: flex;
    justify-content: center;
}

.center-component-margin {
    margin: 0 auto;
}

.primeng-change {
    .p-dropdown:not(.p-disabled).p-focus {
        border-color: #402E32 !important;
        box-shadow: none !important;
    }

    .p-dropdown:not(.p-disabled):hover {
        border-color: #402E32 !important;
    }

    .p-inputtext:enabled:hover {
        border-color: #402E32 !important;
    }

    .p-inputtext:enabled:focus {
        border-color: #402E32 !important;
    }

    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
        background: #402E32 !important;
    }

    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:hover {
        background: #402E32 !important;
    }


    .p-inputswitch.p-focus .p-inputswitch-slider {
        box-shadow: none !important;
    }

    .p-inputswitch .p-component.p-inputswitch-checked .p-focus {
        border-color: #402E32 !important;
        outline: none !important;
    }

    .p-dropdown:focus {
        border-color: #402E32 !important;
    }

    ::ng-deep .p-dropdown:not(.p-disabled):hover {
        border-color: #402E32 !important;
    }

    .p-dropdown:not(.p-disabled).p-focus {
        border-color: #402E32 !important;
        box-shadow: none !important;
    }

    .p-dropdown:not(.p-disabled):hover {
        border-color: #402E32 !important;
        box-shadow: none !important;
    }

    .p-inputtext:enabled:hover {
        border-color: #402E32 !important;
    }

    .p-inputtext:enabled:focus {
        border-color: #402E32 !important;
    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background: #F0FDFA !important;
        border-color: #F0FDFA !important;
        color: #402E32 !important;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
        border-color: #402E32 !important;
    }

    .p-checkbox .p-checkbox-box.p-highlight {
        border-color: #402E32 !important;
        background: #402E32 !important;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: #402E32 !important;
        background: #402E32 !important;
        color: #ffffff;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        border-color: #402E32 !important;
        box-shadow: none !important;
        color: #ffffff;
    }

    ::ng-deep .p-button.p-button-text {
        color: #402E32 !important;
    }

    .p-button.p-button-text {
        color: #402E32 !important;
    }
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    box-shadow: none !important;
}

body {
    //background-image: url('../src/assets/second-background.png');
    background-repeat: repeat;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.page-container {
    padding: 20px 220px 40px;
}

@media only screen and (max-width: 1416px) {
    .paragraph-text-format {
        img {
            max-height: 70%;
            max-width: 70%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .paragraph-text-format {
        img {
            max-height: 90%;
            max-width: 90%;
        }
    }
}
