// RECIPE
.recipe-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;

    .web-img {
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
}

// Time image + text = time-component
.time-component {
    display: inline-flex;
    flex-direction: row;
    margin: auto;

    .time-image {
        height: 40px;
        width: 40px;
    }

    .time-text {
        margin-left: 7.5px;
        margin-top: 10px;
    }
}

// LOGIN - REGISTER

.login-content {
    //background-image: url('../src/assets/layered-waves-haikei (1).png');
    //background-repeat: repeat-x;
    //background-image: url('../src/assets/Background_M.jpg');
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    border-radius: 5px;
    background-color: #f0a04b;
    width: 300px;
    height: 50vh;
    position: relative;

    .login-text {
        padding: 15px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #f0a04b;
        color: #FFF6E7;
    }

    .login-buttons-container {
        margin-top: 50px;
        width: 100%;

        .login-button {
            padding: 10px 0;
            display: table;
            margin: 0 auto;
        }
    }

    .reset-button {
        color: #FFF6E7;
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: 20px;

        .create-button {
            color: #9cb0a4;
            cursor: pointer;
        }
    }
}

// OTHERS
.media-container {
    display: flex;
    margin-top: 10px;
    justify-content: center;

    .media-logo-button {
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: 0 10px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.main-component {
    padding: 20px;
    margin-top: 20px;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 16px 28px 13px rgba(0, 0, 0, 0.1);
    background: #fdfbf8;
    border-radius: 10px;
}

.button-style {
    cursor: pointer;
    border-radius: 5px;
    background: #00BAF0;
    padding: 10px;
    margin: auto 0;
    width: auto;
    text-align: center;
}

.circle-button {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #00BAF0;
    text-align: center;
    color: white;
    font-size: 23.5px;
    cursor: pointer;
}


.input-style {
    background: rgba(34, 34, 34, 0);
    color: white;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: normal;
    width: auto;
}

.input-style:focus {
    outline: none;
}

.reviews-container {
    padding: 0 20px 0 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.center-component-flex {
    display: flex;
    justify-content: center;
}

.center-component-margin {
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../src/assets/second-background.png');
    background-repeat: repeat;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.page-container {
    padding: 20px 220px 40px;
}
