* {
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 0;
    padding-bottom: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
