// RECIPE
.recipe-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .web-img {
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
}

// Time image + text = time-component
.time-component {
    display: inline-flex;
    flex-direction: row;

    .time-image {
        height: 40px;
        width: 40px;
    }

    .time-text {
        margin-left: 7.5px;
        margin-top: 10px;
    }
}

// OTHERS

* {
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 0;
    padding-bottom: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.page-container {
    padding: 20px 220px 40px;
}
