.recipe-view-dialog-header {
    height: 30px;
    width: 100%;
}

.summary-container {
    display: flex;
    justify-items: center;
    justify-content: space-around;

    .summary-image {
        img {
            height: auto;
            width: auto;
            max-height: 20vw;
            max-width: 30vw;
            object-fit: fill;
            object-position: center;
            border-radius: 5px;
            display: block;
            margin: 0 auto 0 auto;
        }
    }
}

.recipe-description {
    margin-top: 25px;
    margin-bottom: 25px;

    .description-text {
        margin: 0 auto;

        img {
            height: auto;
            width: auto;
            max-height: 25vw;
            max-width: 35vw;
            object-fit: fill;
            object-position: center;
            border-radius: 5px;
            display: block;
            margin: 0 auto;
        }
    }
}

.recipe-ingredients {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    position: sticky;
    top: 1rem;
    align-self: flex-start;
}

.review-content-page {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: auto;

    .recipe-howToPrepare {
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        width: 900px;
        align-self: flex-start;

        .howToPrepare-text {
            margin-top: 15px;

            img {
                height: auto;
                width: auto;
                max-height: 25vw;
                max-width: 35vw;
                object-fit: fill;
                object-position: center;
                border-radius: 5px;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.ingredients-container {
    margin-left: 2vw;
    margin-top: 15px;
    height: auto;
    width: auto;

    .ingredient-line {
        padding: 10px 5px;
    }
}

.details-container {
    padding: 15px 10px;
    margin-top: 20px;
    display: block;

    .details-container-box {
        padding: 20px 0;
    }

    .author {
        margin-top: 10px;
        display: inline-flex;
        flex-direction: row;

        .image-person {
            height: 40px;
            width: 40px;
        }

        .author-text {
            cursor: pointer;
            margin-left: 7.5px;
            margin-top: 4px;
        }
    }

    .rating-container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 20px;
    }
}

.mobileIngredients {
    display: none;
}

/* width */
::-webkit-scrollbar {
    height: 2px;
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    opacity: 1;
    transition: background-color .2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    //background-color: #007ad9;
    overflow-y: visible;
}

@media only screen and (max-width: 768px) {

    .summary-container {
        display: block;

        .summary-image img {
            max-width: 80vw;
            max-height: 80vw;
        }
    }

    .recipe-ingredients {
        display: none;
    }

    .review-content-page .recipe-howToPrepare .howToPrepare-text img {
        max-width: 80vw;
        max-height: 80vw;
    }

    .mobileIngredients {
        display: block;
    }
}
