<div class="dialog-header" *ngIf="recipe != null">
    <div class="recipe-name">
        <div>
            <h1>{{ recipe.name }}</h1>
        </div>
        <div>
            <img class="web-img" src="assets/website.png" alt="" (click)="goToRecipePage(recipe.name)">
        </div>
    </div>
    <div class="recipe-description">
        <h2>Description</h2>
        <p [innerHTML]="recipe.description" class="description-text"></p>
    </div>
    <div class="summary-container">
        <div class="summary-image">
            <img src="{{ recipe.imageAddress }}" alt="">
        </div>
        <div class="details-container">
            <h2>Details</h2>
            <div>
                <div>
                    <div class="author">
                        <img src="assets/person-icon.png" alt="" class="image-person">
                        <h3 class="author-text"
                            (click)="goToProfile(recipe.person.username)">Publisher: {{ recipe.person.username }} </h3>
                    </div>
                </div>
                <div>
                    <div class="time-container">
                        <img src="assets/clock.png" alt="" class="image-clock">
                        <h3 class="time-text">Prepare time: {{ recipe.time | time }}</h3>
                    </div>
                </div>
                <div class="rating-container">
                    <p-rating [(ngModel)]="recipe.difficulty" [stars]="5" [cancel]="false"
                              [readonly]="true" pTooltip="Difficulty" tooltipPosition="top">
                        <ng-template pTemplate="officon">
                            <img src="assets/effort-unfilled.png" alt="" class="rating-image">
                        </ng-template>
                        <ng-template pTemplate="onicon">
                            <img src="assets/effort.png" alt="" class="rating-image">
                        </ng-template>
                    </p-rating>
                </div>
                <div class="rating-container">
                    <p-rating [(ngModel)]="recipe.rating" [stars]="5" [cancel]="false"
                              [readonly]="true" pTooltip="Rating" tooltipPosition="top">
                        <ng-template pTemplate="officon">
                            <img src="assets/star-unfilled.png" alt="" class="rating-image">
                        </ng-template>
                        <ng-template pTemplate="onicon">
                            <img src="assets/star.png" alt="" class="rating-image">
                        </ng-template>
                    </p-rating>
                </div>
                <div class="rating-container">
                    <p-rating [(ngModel)]="recipe.spiciness" [stars]="5" [cancel]="false"
                              [readonly]="true" pTooltip="Spiciness" tooltipPosition="top">
                        <ng-template pTemplate="officon">
                            <img src="assets/chili-unfilled.png" alt="" class="rating-image">
                        </ng-template>
                        <ng-template pTemplate="onicon">
                            <img src="assets/chili.png" alt="" class="rating-image">
                        </ng-template>
                    </p-rating>
                </div>
            </div>
        </div>
    </div>
    <div class="review-content-page">
        <div class="recipe-ingredients">
            <h2>Ingredients</h2>
            <div class="ingredients-container">
                <div class="ingredient-line" *ngFor="let ing of recipe.ingredientList">
                    <li>{{ ing.quantity }} {{ ing.measurementUnit }} de {{ ing.name }} </li>
                </div>
            </div>
        </div>
        <div class="recipe-howToPrepare">
            <h2>How to prepare</h2>
            <p [innerHTML]="recipe.howToPrepare" class="howToPrepare-text"></p>
        </div>
    </div>
    <div class="review-container">
        <div class="review-section-title">
            <h2>Reviews</h2>
            <div *ngIf="userLogged == true && userAlreadyPosted == false">
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded review-add"
                        (click)="toggleCreateReviewWindow()"></button>
            </div>
        </div>
        <p-card *ngIf="insertNewReviewWindow === true">
            <ng-template pTemplate="header">
                <div class="review-header">
                    <div>
                        <div class="review-title">
                            <textarea class="review-insert-title" rows="1" pInputTextarea [autoResize]="true"
                                      [(ngModel)]="title" placeholder="Title..."></textarea>
                        </div>
                    </div>
                    <div class="rating-container">
                        <p-rating [(ngModel)]="givenStars" [stars]="5" [cancel]="false">
                            <ng-template pTemplate="officon">
                                <img src="assets/star-unfilled.png" alt="" class="rating-image">
                            </ng-template>
                            <ng-template pTemplate="onicon">
                                <img src="assets/star.png" alt="" class="rating-image">
                            </ng-template>
                        </p-rating>
                    </div>
                </div>
            </ng-template>

            <textarea class="review-insert-content" rows="2" pInputTextarea [autoResize]="true"
                      [(ngModel)]="content"></textarea>
            <div class="review-submit">
                <p-button label="Submit" (onClick)="createReview()"></p-button>
            </div>
        </p-card>
        <div *ngFor="let review of reviews">
            <div class="review">
                <p-card class="review-card">
                    <ng-template pTemplate="header">
                        <div class="review-header">
                            <div>
                                <div class="review-title">
                                    <h2>{{ review.title }}</h2>
                                    <p class="review-date"> {{ review.creationDate }} </p>
                                </div>
                            </div>
                            <div class="rating-container">
                                <p-rating [(ngModel)]="review.rating" [stars]="5" [cancel]="false" [readonly]="true">
                                    <ng-template pTemplate="officon">
                                        <img src="assets/star-unfilled.png" alt="" class="rating-image">
                                    </ng-template>
                                    <ng-template pTemplate="onicon">
                                        <img src="assets/star.png" alt="" class="rating-image">
                                    </ng-template>
                                </p-rating>
                            </div>
                        </div>
                    </ng-template>

                    <div class="review-display-content">
                        {{ review.text }}
                    </div>

                    <ng-template pTemplate="footer">
                        <div class="review-user">
                            <img src="assets/person-icon.png" alt="" class="review-image-person">
                            <h3 class="review-author-text"
                                (click)="goToProfile(review.person.username)"> {{ review.person.username }} </h3>
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</div>
